/* Reset and General Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.navigation {
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    text-align: right;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
}

ul li {
    margin-right: 20px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

ul li a:hover {
    color: rgb(185, 185, 185);
}

/* Sections */
section {
    padding: 50px 20px;
    text-align: center;
}

.home {
    background-image: url('backg.jpg');
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1 {
    font-size: 3em;
    color: white;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    background-color: white;
}

.about img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.description {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.skills, .portfolio, .contact {
    background-color: white;
    color: black;
}

.skills .intro h2, .portfolio .intro h2, .contact .left h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.list-container, .port-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.skill-card img, .port-card img {
    width: 100%;
    border-radius: 50%;
    max-width: 150px;
}

.port-card a, #view {
    display: inline-block;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.contact .left, .contact .right {
    width: 50%;
}

.footer {
    background-color: #121212;
    text-align: center;
    padding: 20px 0;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    color: rgb(92, 102, 255);
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }
    .navigation {
        justify-content: center;
    }
    ul {
        flex-direction: column;
        text-align: center;
    }
    ul li {
        margin: 10px 0;
    }
    .home h1 {
        font-size: 2em;
    }
    .contact {
        flex-direction: column;
        text-align: center;
    }
    .contact .left, .contact .right {
        width: 100%;
    }
    .list-container, .port-container {
        grid-template-columns: 1fr;
    }
}
