*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #121212;
  font-family: 'Helvetica', 'Arial', sans-serif;
  height: 100vh;

}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.left-column{
display: flex;
width: 60px;
min-width: 200px; 
flex-direction: column;
color: white;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
flex-grow: 1.5;
}

.home-search-card{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 8px;
  background-color: #212121;
  border-radius: 10px;
  height:  fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-search-card a{
color: rgb(199, 199, 199);
text-decoration: none;
margin: 10px;
font-size: 12px;


}
.home-search-card img{
width: 20px;
padding-right: 12px;
margin-bottom: -5px;
}

.library-card{
  display: flex;
  flex-direction: column;
  margin: 8px;
  margin-top: 0.1px;
  padding: 15px;
  background-color: #212121;
  border-radius: 10px;
  flex-wrap: wrap;
  height: 100vh;
}

.playlist-card{
  display: flex;
  flex-direction: column;
  margin: 8px;
  background-color: #212121;
  border-radius: 10px;
  flex-wrap: wrap;
}

.your-library{
  display: flex;
  flex-direction: row;

}

.your-library a{
  color: rgb(199, 199, 199);
  text-decoration: none;
  font-size: 12px;
}

.library-card img{
  width: 20px;
  padding-right: 10px;
  margin-bottom: -5px;
  
}

#right{
  margin-left: auto;
    }


.playlist-card{
background-color: #212121;
}

.chips{
  background-color: #535353;
  margin: 8px;
  padding: 8px;
  border-radius: 20px;
  font-size: 10px;
  width: auto;
  height: 10px;

}


.playlist-card{
  display: flex;
  flex-direction: row;

}

.search-recent {
  display: flex;
  flex-direction: row;
}

.search-recent  a{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #535353;

}
.search-recent img{
  justify-content: space-between; 
  padding-left: auto;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  scroll-behavior: smooth;
  overflow-y: scroll;
  margin-top: 20px;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
}

.list a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.list a:hover{
background-color: #535353;
transition-timing-function: ease-in;

}


.text-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px; /* Adjust the margin as needed */
}

.list p {
  color: #999999;
  font-size: 9px;
}

.list img {
  width: 20px;
  border-radius: 5px;
}

.list h1 {
font-size: 14px;
color: white;
}




/*-Right Section*/

.right-column{
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #121212;
  height: 100vh;
 flex-grow: 2;
}

.main-body{
  border-radius: 10px;
  background-color: #212121;
  margin: 8px;
  height: 100vh;
  width: 100hw;
}

.navbar{
  display: flex;
  flex-direction: row;
  margin: 12px;
  justify-content: flex-start;
}
.navbar-right{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  justify-content: flex-end;
}
.navbar img{
  width: 15px;
  margin: 3px;
}

.search-icon{
  width: 20px;


}


.search-box{
margin-right: 40px;
padding: 8px 12px;
border-radius: 25px;
background-color: #121212;
justify-content: center;
align-items: center;
}

.search-box input{ 
  width: 200px;

  justify-content: center;
  border: 0;
  outline: 0;
  background: transparent;
}

.recent{
  color: white;
  margin: 20px;
  font-size: 9px;
}

.music-container{
  display: flex;
  flex-direction: row;
}

.music-card{
  border-radius: 12px;
  background-color: #212121;
  padding: 12px;
  margin: 12px;
  justify-content: center;
}

.music-card img{
  border-radius: 12px;
  width: 190px;
  height: 190px;
  padding: 20px;
  border-radius: 25px;
  background-color: #212121;
}


.category-container{
  display: grid;
grid-template-rows: auto;
grid-template-columns: auto;
}

.category-card{
  display: grid;
  border-radius: 12px;
  background-color: #212121;
  padding: 12px;
  margin: 12px;

}

.category-card img{
  border-radius: 12px;
  width: 150px;
  height: 150px;

  border-radius: 15px;
  background-color: #212121;
}